<body class="d-flex flex-column">
    <main class="card-cmp">
        <div class="card-wrapper">
            <img class="card front-face" alt="card" />
            <img class="card back-face" alt="card" src="./assets/back.png" />
        </div>
    </main>
</body>